bcrypt
coloredlogs
crewai[tools]
openinference-instrumentation-litellm>=0.1.14
openinference-instrumentation-openai>=0.1.14
opentelemetry-exporter-otlp>=1.25.0
opentelemetry-sdk>=1.25.0
python-dateutil
pytz
tornado>=5.0
tqdm
ujson
